
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'hoisting_rigging_app_appForm_list' %}">
    appForm Listing
    </a>
</p>
    
<table class="table">
    <tr><td>special_instructions</td><td>{{ object.special_instructions }}</td></tr>
    <tr><td>form_type</td><td>{{ object.form_type }}</td></tr>
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>form_status</td><td>{{ object.form_status }}</td></tr>
    <tr><td>lift_plan_sketch_description</td><td>{{ object.lift_plan_sketch_description }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>lift_plan_sketch_image</td><td>{{ object.lift_plan_sketch_image }}</td></tr>
    <tr><td>reason</td><td>{{ object.reason }}</td></tr>
    <tr><td>equipment</td><td>{{ object.equipment }}</td></tr>
    <tr><td>floor_plan_sketch_image</td><td>{{ object.floor_plan_sketch_image }}</td></tr>
    <tr><td>swp_jsa</td><td>{{ object.swp_jsa }}</td></tr>
    <tr><td>floor_plan_sketch_description</td><td>{{ object.floor_plan_sketch_description }}</td></tr>
    <tr><td>usi_sci</td><td>{{ object.usi_sci }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>hazardous_toxic_material</td><td>{{ object.hazardous_toxic_material }}</td></tr>
    <tr><td>reviewed_by</td><td>{{ object.reviewed_by }}</td></tr>
    <tr><td>approved_by</td><td>{{ object.approved_by }}</td></tr>
    <tr><td>crane_operator</td><td>{{ object.crane_operator }}</td></tr>
    <tr><td>rigger</td><td>{{ object.rigger }}</td></tr>
    <tr><td>flm</td><td>{{ object.flm }}</td></tr>
    <tr><td>signaler</td><td>{{ object.signaler }}</td></tr>
    <tr><td>supervisor_of_lift</td><td>{{ object.supervisor_of_lift }}</td></tr>
    <tr><td>prepared_by</td><td>{{ object.prepared_by }}</td></tr>
    <tr><td>other</td><td>{{ object.other }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}