
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'hoisting_rigging_app_overheadCrane_list' %}">
    overheadCrane Listing
    </a>
</p>
    
<table class="table">
    <tr><td>equipment_name</td><td>{{ object.equipment_name }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>equipment_code</td><td>{{ object.equipment_code }}</td></tr>
    <tr><td>auxiliary_hook_capacity</td><td>{{ object.auxiliary_hook_capacity }}</td></tr>
    <tr><td>main_hook_capacity</td><td>{{ object.main_hook_capacity }}</td></tr>
    <tr><td>appFormId</td><td>{{ object.appFormId }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}