
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'page_management_Pages_list' %}">
    Pages Listing
    </a>
</p>
    
<table class="table">
    <tr><td>publish_down</td><td>{{ object.publish_down }}</td></tr>
    <tr><td>slug</td><td>{{ object.slug }}</td></tr>
    <tr><td>page_title</td><td>{{ object.page_title }}</td></tr>
    <tr><td>publish</td><td>{{ object.publish }}</td></tr>
    <tr><td>is_active</td><td>{{ object.is_active }}</td></tr>
    <tr><td>is_home_page</td><td>{{ object.is_home_page }}</td></tr>
    <tr><td>page_content</td><td>{{ object.page_content }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>content_type</td><td>{{ object.content_type }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>users</td><td>{{ object.users }}</td></tr>
    <tr><td>groups</td><td>{{ object.groups }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}