
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'lift_plan_app_liftDescriptions_list' %}">
    liftDescriptions Listing
    </a>
</p>
    
<table class="table">
    <tr><td>load_items</td><td>{{ object.load_items }}</td></tr>
    <tr><td>load_centre</td><td>{{ object.load_centre }}</td></tr>
    <tr><td>last_updated</td><td>{{ object.last_updated }}</td></tr>
    <tr><td>id</td><td>{{ object.id }}</td></tr>
    <tr><td>load_weight</td><td>{{ object.load_weight }}</td></tr>
    <tr><td>created</td><td>{{ object.created }}</td></tr>
    <tr><td>total_weight</td><td>{{ object.total_weight }}</td></tr>
    <tr><td>estimation</td><td>{{ object.estimation }}</td></tr>
    <tr><td>form_id</td><td>{{ object.form_id }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit</a>

{% endblock %}