
{% extends "base.html" %}
{% load static %}
{% block content %}
    
<p>
    <a class="btn btn-light" href="{% url 'lift_plan_app_planAttachment_list' %}">
    planAttachment Listing
    </a>
</p>
    
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.errors}}
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="id">id: </label>
      <input class="form-control col-sm-10"
         id="id" type="text"
         name="id" value="{{ object.id }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="file_path">file_path: </label>
      <input class="form-control col-sm-10"
         id="file_path" type="text"
         name="file_path" value="{{ object.file_path }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="file_attachment">file_attachment: </label>
      <input class="form-control col-sm-10"
         id="file_attachment" type="file"
         name="file_attachment" value="{{ object.file_attachment }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="last_updated">last_updated: </label>
      <input class="form-control col-sm-10"
         id="last_updated" type="datetime-local"
         name="last_updated" value="{{ object.last_updated }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="created">created: </label>
      <input class="form-control col-sm-10"
         id="created" type="datetime-local"
         name="created" value="{{ object.created }}" disabled>
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="label">label: </label>
      <input class="form-control col-sm-10"
         id="label" type="text"
         name="label" value="{{ object.label }}">
  </div>
  <div class="form-group row">
      <label class="col-sm-2 col-form-label" for="form_id">form_id: </label>
      {{ form.form_id }}
  </div>
  <input type="submit" value="Save" class="btn btn-primary">
</form>

{% endblock %}